{% extends 'base.html' %}

{% block content %}
    {% if tosearch_center %} <!--if variable keyword is not null -->
    <!--It looks kind of confusing, but actually it's just two different names in python code and html, refereing to the same variable -->
        <center><h1>You searched for {{tosearch_center}}</h1><br/></center>
        {%if results %}
        <br/>
    {% for keywords in results %}
        <div class="card">
  <div class="card-header">
      <a href="{%url 'single-recipe' keywords.id%}"><strong>{{keywords}}</strong> </a>

      <br/>
  </div>

  <div class="card-body">
    <h5 class="card-title">{{keywords.name}}</h5>
    <p class="card-text">
        <u1>
       <strong>Cuisine:</strong> {{keywords.cuisine}}<br/>
       <strong>Diet:</strong> {{keywords.diet}}<br/>
       <strong>Time:</strong> {{keywords.prep_time}}<br/>
       <strong>Keywords:</strong> {{keywords.keywords}}<br/>
    </u1>
    </p>
    <a href="{{recipe.link}}" class="btn btn-primary">Learn more about it!</a>
  </div>
</div><br/>
    {% endfor %}
        {% else %}
        <center><h1>Nothing found.</h1><br/></center>
        {% endif %}

    {% else %}
    <center><h1>Nothing searched yet.</h1><br/></center>
    {% endif %}

{% endblock %}