<style>
  .navbar-brand{
    font-family: 'Royal Acidbath', sans-serif;
  }
  .bg-custom
  {
    background-color: indianred;
  }
  .custombutton{
    border-color: black;
    background-color: indianred;
    color: black;
  }
  .navbarfont{
    font-family: 'Lato', sans-serif;

  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">The Recipe Pantry</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'recipe-list' %}">Recipe List</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="{% url 'ourgoal' %}">Our Goal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'recipe-list' %}">Recipe List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>

        </li>
      </ul>
      <form class="d-flex" role="search" method="POST" action="{% url 'search-recipe'%}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="tosearch">
        <button class="btn btn-outline-secondary custombutton" type="submit">Enter</button>
      </form>
    </div>

 <!--<div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="category">
        <option selected>Choose...</option>
        {% for cat in c
        <option value="Chinese">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>-->
      <!--<div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    </form>-->

</nav>