{% extends 'base.html' %}

{% block content %}

<div class="userquest"><h1>Please select your options below!</h1>
</div>
<form class="d-flex" role="search" method=POST action="{% url 'Ingredient_Search'%}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="tosearch"><!--Here is the universal name of user input variable value-->
        <button class="btn btn-outline-secondary" type="submit">Enter</button>
      </form>

<div class="buttonContent">

    <div class="ingredientselection">
        <span>Select Ingredient</span>
      <div class="selectitem">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="tosearch">
        <button class="btn btn-outline-secondary custombutton" type="submit">Enter</button>
      </div>
    </div>

    <div class="cuisineselection">
        <span>Select Cuisine</span>
      <div class="selectitem">
        <button class="button" id="Chinese">Chinese</button>
        <button class="button" id="Mexican">Mexican</button>
        <button class="button" id="Italian">Italian</button>
        <button class="button" id="Japanese">Japanese</button>
        <button class="button" id="Thai">Thai</button>
        <button class="button" id="Indian">Indian</button>
      </div>
    </div>

    <div class="dietselection">
        <span>Select Diet</span>
      <div class="selectitem">
        <button class="button" id="vegetarian">Vegetarian</button>
        <button class="button" id="vegan">Vegan</button>
        <button class="button" id="glutenfree">Gluten-free</button>
      </div>
    </div>

    <div class="timeselection">
        <span>Select Time</span>
      <div class="selectitem">
        <button class="button" id="less30">Under 00:30</button>
        <button class="button" id="middle">00:30 - 1:30</button>
        <button class="button" id="over">Over 1:30</button>
      </div>
    </div>

</div>

<script>
    const cuisines = document.querySelectorAll('.button');

    cuisines.forEach(button => {
        button.addEventListener('click', () =>{
            button.classList.toggle('selected');
        });
    });
</script>
<link rel="stylesheet" href="../static/Question.css">
{% endblock %}
