<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<header>
    <h1> Recipes</h1>
</header>

<h3>Italian</h3>
<ul>
    <li>
        <a href="https://www.cookerru.com/italian-meatballs/"> Italian Meatballs </a>
    </li>
    <li>
        <a href="https://sustainmycookinghabit.com/simple-fried-polenta-recipe/"> Polenta </a>
    </li>
    <li>
         <a href="https://www.onceuponachef.com/recipes/ratatouille.html/"> Ratatouille </a>
    </li>
    <li>
        <a href="https://pinchofyum.com/tortellini-soup/"> Tortellini </a>
    </li>
    <li>
       <a href="https://www.spendwithpennies.com/easy-homemade-lasagna/"> Lasagna </a>
    </li>
    <li>
        <a href="https://natashaskitchen.com/classic-risotto-recipe/"> Risotto </a>
    </li>

    <a href="https://www.christinascucina.com/arancini-di-riso-sicilian-italian-rice-balls/"> Arancini </a>
    <a href="https://natashaskitchen.com/easy-calzone-recipe/"> Calzone </a>
    <a href="https://www.aheadofthyme.com/pesto-penne-pasta/"> Penne Pesto </a>
    <a href="https://www.onceuponachef.com/recipes/chicken-marsala.html/"> Chicken Marsala </a>
    <a href="https://www.allrecipes.com/recipe/54165/balsamic-bruschetta/"> Bruschetta </a>
    <a href="https://www.food.com/recipe/fresh-tomato-mozzarella-salad-173875/"> Tomato Salad </a>
    <a href="https://www.christinascucina.com/authentic-italian-potato-pizza-con-patate-idaho-potatoes/"> Potato Pizza </a>
    <a href="https://www.allrecipes.com/recipe/22831/alfredo-sauce/ "> Pasta Alfredo </a>
    <a href="https://www.foodnetwork.com/recipes/giada-de-laurentiis/chicken-piccata-recipe2-1913809/"> Chicken Piccata </a>
    <a href="https://www.daringgourmet.com/osso-buco/"> Osso-Buco </a>
    <a href="https://www.loveandlemons.com/frittata-recipe/"> Frittata </a>
    <a href="https://www.errenskitchen.com/creamy-tagliatelle-mushrooms/"> Tagliatelle </a>
    <a href="https://tastesbetterfromscratch.com/sun-dried-tomato-pasta/"> Sun-dried tomato Pasta </a>
</ul>


<h3>Japanese</h3>

<a href="https://www.foodandwine.com/recipes/chicken-katsu/"> Chicken Katsu </a>
<a href="https://www.fifteenspatulas.com/homemade-sushi/"> Sushi </a>
<a href="https://cafedelites.com/teriyaki-chicken-recipe/"> Teriyaki Chicken </a>
<a href="https://cooking.nytimes.com/recipes/1019430-omurice-japanese-rice-omelet/"> Omurice </a>
<a href="https://www.allrecipes.com/recipe/150772/crispy-edamame/"> Edamame </a>
<a href="https://www.justonecookbook.com/tonkatsu/"> Tonkatsu </a>
<a href="https://www.loveandlemons.com/sesame-soba-noodles/"> Sesame Soba Noodles </a>
<a href="https://christieathome.com/blog/japanese-tuna-onigiri/"> Onigiri </a>
<a href="https://browngirlveganeats.com/crispy-rice-paper-sushi-rolls/"> Rice paper Sushi </a>
<a href="https://www.loveandlemons.com/okonomiyaki/"> Okonomiyaki </a>
<a href="https://drivemehungry.com/yaki-udon-stir-fried-udon-noodles/"> Stir-Fried Udon Noodles </a>
<a href="https://theplantbasedschool.com/tofu-soup/"> Tofu Soup </a>
<a href="https://damndelicious.net/2014/10/13/easy-homemade-ramen/"> Ramen </a>
<a href="https://japan.recipetineats.com/japanese-fried-fish-cakes-satsuma-age/"> Fish Cakes </a>
<a href="https://www.chewoutloud.com/dyi-healthy-poke-bowls-with-sriracha-mayo/"> Poke Bowl </a>
<a href="https://drivemehungry.com/yaki-udon-stir-fried-udon-noodles/"> Yaki Udon </a>
<a href="https://www.justonecookbook.com/homemade-chashu-miso-ramen/"> Miso Soup </a>
<a href="https://www.japancentre.com/en/recipe/20-tamagoyaki-japanese-omelette/"> Tamagoyaki </a>
<a href="https://thewoksoflife.com/ma-po-tofu-real-deal/"> Mapo Tofu </a>
<a href="https://www.justonecookbook.com/simple-chicken-curry/ "> Chicken Curry </a>

</body>
</html>