{% extends 'base.html' %}

{% block content %}
<center>
    <h1>Recipe: </h1>
    <div class="card">
  <div class="card-header">
      <a href="{%url 'single-recipe' recipe.id%}">{{recipe}}</a>

      <br/>
  </div>
  <div class="card-body">
    <h5 class="card-title">Name: {{recipe.name}}</h5>
    <p class="card-text">
        <u1>
       <strong>Website Link:</strong> {{recipe.link}}<br/>
       <strong>Cuisine:</strong> {{recipe.cuisine}}<br/>
       <strong>Diet:</strong> {{recipe.diet}}<br/>
       <strong>Time:</strong> {{recipe.prep_time}}<br/>
       <strong>Keywords:</strong> {{recipe.keywords}}<br/>
    </u1>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</center>

{% endblock %}