body {
    background-image: url("bg1.jpg");
}

@font-face {
    font-family: RoyalAcidbath;
    src: url("fonts/Royalacid_o.ttf");
}
.logo{
    font-family: RoyalAcidbath;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.findrecipe{
    font-family: Lato, sans-serif;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    padding: 20px 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.findrecipe a{
    text-decoration: none;
    color: white;
}

.findrecipe:hover{
    background-color: indianred;
}